project:
  type: website
  output-dir: docs

website:
  title: "Siagro+"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - Agri_act.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



